.neonButton {
  @apply border-2;
  color: var(--color-yelow-mth);
  border-color: var(--color-yelow-mth);
}

.neonButton:hover{

  color: var(--color-primary);

  text-shadow: none;
  
  box-shadow: 0 0 4em 0.5em var(--color-yelow-mth);
  
  background-color: var(--color-yelow-mth);
  transition: opacity 100ms linear;

}
.neonIcon {
  @apply border-0;

}

.neonIcon:hover {
  filter: drop-shadow(0 0 6px var(--color-yelow-mth));
  color: var(--color-yelow-mth);
  filter: drop-shadow(0 0 10px var(--color-yelow-mth));
  transition: color 0.2s, filter 0.2s
}